<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.icon" type="image/x-icon">
    <title>Spam Check</title>
</head>
<body>
    <div style="color:rgb(189, 21, 21)">
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Spam detector</h2>
            <textarea name="message" id="msg" cols="30" rows="10" placeholder="give msg to check it spam or not"></textarea>
            <br>
            <button type="submit" id="sub">Spam or Ham</button>

        </form>

        <br><br>
        <h2>{{prediction_text}}</h2>

    </div>
</body>
</html>